nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #777;
}

.brand, .links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand h1 {
    font-size: 1.8rem;
    font-weight: 600;
    transition: .4s;
}
.brand h1:hover{
    color: #777;
}
.links a {
    padding: .1em .3em;
}
.links li{
    margin-right: 1em;
    list-style: none;
}
#add a {
    color: rgb(87, 0, 0);
}
#add a:hover{
    background-color: #e2e2e2;
}